<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/header'); -%>

  <body>
    <%- include('../includes/navbar'); -%>
    <!-- Page Header -->

    <div
      class="bodyContainer"
      style="
        height: 65%;
        width: 66%;
        background-color: rgb(236, 255, 237);
        border-radius: 15px;
        margin-top: 2%;
      "
    >
      <h1 style="margin: 20px">
        <%= lecturer.first_name + " " + lecturer.last_name %>
      </h1>

      <form method="POST" action="<%= path %>">
        <div class="form-group">
          <label for="student_id">Lecturer Id</label>
          <input
            type="text"
            id="student_id"
            name="student_id"
            class="form-control"
            value="<%= lecturer_account.lecturer_id %>"
            disabled
          />
        </div>
        <div class="form-group">
          <label for="first_name">First Name</label>
          <input
            type="text"
            id="first_name"
            name="first_name"
            class="form-control"
            value="<%= lecturer.first_name %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input
            type="text"
            id="last_name"
            name="last_name"
            class="form-control"
            value="<%= lecturer.last_name %>"
            required
          />
        </div>

        <div class="form-group">
          <label for="dob">Date of birth</label>
          <input
            type="date"
            id="dob"
            name="dob"
            class="form-control"
            value="<%= lecturer.dob %>"
            required
          />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            class="form-control"
            value="<%= lecturer.email %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input
            type="text"
            id="phone"
            name="phone"
            class="form-control"
            value="<%= lecturer.phone %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input
            type="text"
            id="address"
            name="address"
            class="form-control"
            value="<%= lecturer.address %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="info">Infomation</label>
          <input
            type="text"
            id="info"
            name="info"
            class="form-control"
            value="<%= lecturer.info %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            class="form-control"
            value="<%= lecturer_account.username %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="text"
            id="password"
            name="password"
            class="form-control"
            value="<%= lecturer_account.password %>"
            required
          />
        </div>

        <div class="mt-4">
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </form>
    </div>

    <!-- Main Content -->
    <%- include('../includes/scripts'); -%>
  </body>
</html>
