<!DOCTYPE html>
<html lang="en">
<%- include('../includes/header'); -%>

    <body>
        <%- include('../includes/navbar'); -%>
            <!-- Page Header -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Page title -->
                        <div class="my-5">
                            <h3><%= lecturer.first_name + " " + lecturer.last_name %></h3>
                            <hr>
                        </div>
                        <!-- Form START -->
                        <form method="POST" action="<%= path %>" enctype="multipart/form-data" class="file-upload">
                            <div class="row gx-5 mb-5">
                                <!-- Upload profile -->
                                <div class="col-xxl-4 mb-5">
                                    <div class="bg-secondary-soft px-4 py-5 rounded">
                                        <div class="row g-3">
                                            <h4 class="mb-4 mt-0">Upload your profile photo</h4>
                                            <div class="text-center">
                                                <!-- Image upload -->
                                                <div class="square position-relative display-2 mb-3">
                                                    <!-- <i
                                                        class="fas fa-fw fa-user position-absolute top-50 start-50 translate-middle text-secondary"></i> -->
                                                    <div id="avatar-preview"><img src="<% if (lecturer.avatar == null) {
                                                        %>/img/no-avatar.jpg<%} else {%>/upload/<%= lecturer.avatar%><%}%>" alt="avatar" class="img-fluid rounded"></div>

                                                        <!-- handle update infomation but image is empty -->
                                                        <input type="text" value="<%= lecturer.avatar%>"  class="form-control" name="avatar" hidden>
                                                </div>
                                                <!-- Button -->
                                                <input type="file" id="customFile" name="image" accept="image/*" hidden="" onchange="previewImage()">
                                                <label class="btn btn-success-soft btn-block"
                                                    for="customFile">Upload</label>
                                                <button type="button" class="btn btn-danger-soft" onclick="removeImage()">Remove</button>
                                                <!-- Content -->
                                                <p class="text-muted mt-3 mb-0"><span class="me-1">Note:</span>Photo size 2x3</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Profile detail -->
                                <div class="col-xxl-8 mb-5 mb-xxl-0">
                                    <div class="bg-secondary-soft px-4 py-5     rounded">
                                        <div class="row g-3 mb-5">
                                            <h4 class="mb-4 mt-0">Profile detail</h4>
                                            <!-- First Name -->
                                            <div class="col-md-6">
                                                <label class="form-label">First Name *</label>
                                                <input name="first_name" type="text" class="form-control" placeholder="Nguyen Hai"
                                                    aria-label="First name" value="<%= lecturer.first_name%>">
                                            </div>
                                            <!-- Last name -->
                                            <div class="col-md-6">
                                                <label class="form-label">Last Name *</label>
                                                <input name="last_name" type="text" class="form-control" placeholder="Minh"
                                                    aria-label="Last name" value="<%= lecturer.last_name%>">
                                            </div>
                                            <!-- Phone number -->
                                            <div class="col-md-6">
                                                <label class="form-label">Phone number *</label>
                                                <input name="phone" type="text" class="form-control" placeholder="0827050981"
                                                    aria-label="Phone number" value="<%= lecturer.phone%>">
                                            </div>
                                            <!-- Address -->
                                            <div class="col-md-6">
                                                <label class="form-label">Address *</label>
                                                <input name="address" type="text" class="form-control" placeholder="Hai Duong Viet Nam"
                                                    aria-label="Address" value="<%= lecturer.address%>">
                                            </div>
                                            <!-- Email -->
                                            <div class="col-md-6">
                                                <label for="inputEmail4" class="form-label">Email *</label>
                                                <input name="email" type="email" class="form-control" id="inputEmail4"
                                                    value="<%= lecturer.email%>">
                                            </div>
                                            <!-- Date of birth -->
                                            <div class="col-md-6">
                                                <label for="inputEmail4" class="form-label">Date of birth *</label>
                                                <input name="dob" type="date" class="form-control" value="<%= lecturer.dob%>">
                                            </div>  
                                            <!-- Infomation -->
                                            <div class="col-md-12">
                                              <label class="form-label">Infomation *</label>
                                              <input name="info" type="text" class="form-control" placeholder="Giảng viên Tiếng Anh cơ bản"
                                                  aria-label="Infomation" value="<%= lecturer.info%>">
                                          </div>                                          
                                        </div>
                                        <hr>
                                        <!-- change password -->
                                        <div class="px-4 mb-5 rounded">

                                            <div class="row g-3">
                                                <h4 class="my-4">Account</h4>
                                                <!-- Username -->
                                                <div class="col-md-12">
                                                  <label for="exampleInputPassword3" class="form-label">
                                                      Username
                                                      *</label>
                                                  <input name="username" type="text" class="form-control"
                                                      id="exampleInputPassword3" value="<%= lecturer_account.username %>">
                                              </div>
                                                <!-- password -->
                                                <div class="col-md-12">
                                                    <label for="exampleInputPassword1" class="form-label">
                                                        Password
                                                        *</label>
                                                    <input name="password" type="text" class="form-control"
                                                        id="exampleInputPassword1" value="<%= lecturer_account.password %>">
                                                </div>
                                            </div>
                                        </div> <!-- Row END -->
                                    </div>
                                </div>
                            </div> <!-- Row END -->
                    </div>
                </div>

                <div class="col-xxl-6">
                </div> <!-- Row END -->
                <!-- Button -->
                <div class="gap-3 d-md-flex justify-content-md-end text-center mb-5">
                    <a href="delete/<%= lecturer_account.lecturer_id %>"><button type="button" class="btn btn-danger-soft btn-lg">Delete profile</button></a>
                    <button type="submit" class="btn btn-success-soft btn-lg">Update profile</button>
                </div>

                </form> <!-- Form END -->
            </div> <!-- Container END -->

            <!-- Main Content -->
            <%- include('../includes/scripts'); -%>
                <%- include('../includes/footer'); -%>

                <script>
                    function previewImage() {
                      var fileInput = document.getElementById("customFile");
                      var preview = document.getElementById("avatar-preview");
              
                      if (fileInput.files && fileInput.files[0]) {
                        var reader = new FileReader();
              
                        reader.onload = function (e) {
                          preview.innerHTML =
                            '<img src="' + e.target.result + '" alt="Preview" class="img-fluid rounded">';
                        };
              
                        reader.readAsDataURL(fileInput.files[0]);
                      }
                    }
                    function removeImage() {
                        var avatarPreview = document.getElementById('avatar-preview');
                        avatarPreview.innerHTML = '<img src="/img/no-avatar.jpg" alt="avatar" class="img-fluid rounded">';
                        // You can also reset the input field value if needed
                        document.getElementById('customFile').value = '';
                    }
                  </script>
    </body>

</html>