<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/header'); -%>

  <body>
    <%- include('../includes/navbar'); -%>
    <!-- Page Header -->

    <!-- Main Content -->
    <div class="adminContainer">
      <!------------------------------------ sidebar ------------------------------------>
      <div
        class="d-flex flex-column flex-shrink-0 p-3 bg-light"
        style="width: 20%"
      >
        <span class="fs-4">Sidebar</span>
        <hr />
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a
              href="/admin/students"
              class="nav-link active"
              aria-current="page"
            >
              Manage Student
            </a>
          </li>
          <li>
            <a href="/admin/courses" class="nav-link link-dark">
              Manage Course
            </a>
          </li>
          <li>
            <a href="/admin/lecturers" class="nav-link link-dark">
              Manage Lecturer
            </a>
          </li>
        </ul>
        <hr />
        <div class="dropdown">
          <a
            href="#"
            class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
            id="dropdownUser2"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://avatars.githubusercontent.com/u/91320296?s=40&v=4"
              alt=""
              width="32"
              height="32"
              class="rounded-circle me-2"
            />
            <strong>user admin</strong>
          </a>
          <ul
            class="dropdown-menu text-small shadow"
            aria-labelledby="dropdownUser2"
          >
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
      <!------------------------------------ sidebar ---------------------------------------------------------->

      <!------------------------------------ main content ----------------------------------------------------->
      <div class="adminContent">
        <div>
          <button
            type="button"
            class="btn btn-light"
            onclick="window.location.href='/admin/add-student'"
          >
            Add Student
          </button>
          <button
            type="button"
            class="btn btn-light"
            onclick="window.location.href='/admin/createStudent'"
          >
            Add Student
          </button>
          <button
            type="button"
            class="btn btn-light"
            onclick="window.location.href='/admin/createStudent'"
          >
            Add Student
          </button>
        </div>

        <hr />

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Student ID</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Date Of Birth</th>
              <th scope="col">Result</th>
            </tr>
          </thead>
          <tbody id="mytable">
            <% students.forEach(student=> { %>
            <tr>
              <td><%= student.student_id %></td>
              <td><%= student.first_name %></td>
              <td><%= student.last_name %></td>
              <td><%= student.email %></td>
              <td><%= student.phone %></td>
              <td><%= student.dob %></td>
              <td><%= student.result %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      <hr />
      <!------------------------------------ main content ------------------------------------>
    </div>

    <div class="footerGif">
      <iframe
        src="https://giphy.com/embed/QaYqtStGSYNd21aXQp"
        width="100%"
        height="100%"
        style="position: absolute"
        frameBorder="0"
      ></iframe>
    </div>
    <%- include('../includes/scripts'); -%> <%- include('../includes/footer');
    -%>
  </body>
</html>
