<!DOCTYPE html>
<html lang="en">
<%- include('../includes/header'); -%>

    <body>
        <%- include('../includes/navbar'); -%>
            <!-- Page Header -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Page title -->
                        <div class="my-5">
                            <h3>My Profile</h3>
                            <hr>
                        </div>
                        <!-- Form START -->
                        <form class="file-upload">
                            <div class="row gx-5 mb-5">
                                <!-- Upload profile -->
                                <div class="col-xxl-4 mb-5">
                                    <div class="bg-secondary-soft px-4 py-5 rounded">
                                        <div class="row g-3">
                                            <h4 class="mb-4 mt-0">Upload your profile photo</h4>
                                            <div class="text-center">
                                                <!-- Image upload -->
                                                <div class="square position-relative display-2 mb-3">
                                                    <i
                                                        class="fas fa-fw fa-user position-absolute top-50 start-50 translate-middle text-secondary"></i>
                                                </div>
                                                <!-- Button -->
                                                <input type="file" id="customFile" name="file" hidden="">
                                                <label class="btn btn-success-soft btn-block"
                                                    for="customFile">Upload</label>
                                                <button type="button" class="btn btn-danger-soft">Remove</button>
                                                <!-- Content -->
                                                <p class="text-muted mt-3 mb-0"><span class="me-1">Note:</span>Minimum
                                                    size 300px x 300px</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Profile detail -->
                                <div class="col-xxl-8 mb-5 mb-xxl-0">
                                    <div class="bg-secondary-soft px-4 py-5     rounded">
                                        <div class="row g-3 mb-5">
                                            <h4 class="mb-4 mt-0">Profile detail</h4>
                                            <!-- First Name -->
                                            <div class="col-md-6">
                                                <label class="form-label">First Name *</label>
                                                <input type="text" class="form-control" placeholder="Nguyen Hai"
                                                    aria-label="First name" value="<%= info.first_name%>">
                                            </div>
                                            <!-- Last name -->
                                            <div class="col-md-6">
                                                <label class="form-label">Last Name *</label>
                                                <input type="text" class="form-control" placeholder="Minh"
                                                    aria-label="Last name" value="<%= info.last_name%>">
                                            </div>
                                            <!-- Phone number -->
                                            <div class="col-md-6">
                                                <label class="form-label">Phone number *</label>
                                                <input type="text" class="form-control" placeholder="0827050981"
                                                    aria-label="Phone number" value="<%= info.phone%>">
                                            </div>
                                            <!-- Address -->
                                            <div class="col-md-6">
                                                <label class="form-label">Address *</label>
                                                <input type="text" class="form-control" placeholder="Hai Duong Viet Nam"
                                                    aria-label="Address" value="<%= info.address%>">
                                            </div>
                                            <!-- Email -->
                                            <div class="col-md-6">
                                                <label for="inputEmail4" class="form-label">Email *</label>
                                                <input type="email" class="form-control" id="inputEmail4"
                                                    value="<%= info.email%>">
                                            </div>
                                            <!-- Date of birth -->
                                            <div class="col-md-6">
                                                <label for="inputEmail4" class="form-label">Date of birth *</label>
                                                <input type="date" class="form-control" value="<%= info.dob%>">
                                            </div>                                            
                                        </div>
                                        <hr>
                                        <!-- change password -->
                                        <div class="px-4 mb-5 rounded">
                                            <div class="row g-3">
                                                <h4 class="my-4">Change Password</h4>
                                                <!-- Old password -->
                                                <div class="col-md-6">
                                                    <label for="exampleInputPassword1" class="form-label">Old
                                                        password
                                                        *</label>
                                                    <input type="password" class="form-control"
                                                        id="exampleInputPassword1">
                                                </div>
                                                <!-- New password -->
                                                <div class="col-md-6">
                                                    <label for="exampleInputPassword2" class="form-label">New
                                                        password
                                                        *</label>
                                                    <input type="password" class="form-control"
                                                        id="exampleInputPassword2">
                                                </div>
                                                <!-- Confirm password -->
                                                <div class="col-md-12">
                                                    <label for="exampleInputPassword3" class="form-label">Confirm
                                                        Password
                                                        *</label>
                                                    <input type="password" class="form-control"
                                                        id="exampleInputPassword3">
                                                </div>
                                            </div>
                                        </div> <!-- Row END -->
                                    </div>
                                </div>
                            </div> <!-- Row END -->
                    </div>
                </div>

                <div class="col-xxl-6">
                </div> <!-- Row END -->
                <!-- Button -->
                <div class="gap-3 d-md-flex justify-content-md-end text-center mb-5">
                    <button type="button" class="btn btn-danger btn-lg">Delete profile</button>
                    <button type="button" class="btn btn-primary btn-lg">Update profile</button>
                </div>

                </form> <!-- Form END -->
            </div> <!-- Container END -->

            <!-- Main Content -->
            <%- include('../includes/scripts'); -%>
                <%- include('../includes/footer'); -%>
    </body>

</html>