<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

    <body>
        <%- include('layouts/navbar'); -%>
            <!-- Page Header -->
            <header class="masthead">
                <h1 style="margin: 20px;">Student List</h1>
            </header>

            <!-- Main Content -->
            <div class="bodyContainer">
                <div>
                    <button type="button" class="btn btn-light">Add Student</button>
                    <button type="button" class="btn btn-light">Add Student</button>
                    <button type="button" class="btn btn-light">Add Student</button>

                </div>

                <hr>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Date Of Birth</th>
                            <th scope="col">Result</th>
                        </tr>
                    </thead>
                    <tbody id="mytable">

                        <% data.forEach(student=> { %>
                            <tr>
                                <td>
                                    <%= student.student_id %>
                                </td>
                                <td>
                                    <%= student.first_name %>
                                </td>
                                <td>
                                    <%= student.last_name %>
                                </td>
                                <td>
                                    <%= student.email %>
                                </td>
                                <td>
                                    <%= student.phone %>
                                </td>
                                <td>
                                    <%= student.dob %>
                                </td>         
                                <td>
                                    <%= student.result %>
                                </td>               
                            </tr>
                            <% }); %>
                    </tbody>
                </table>

            </div>

            <hr>
            <div class="footerGif"><iframe src="https://giphy.com/embed/QaYqtStGSYNd21aXQp" width="100%" height="100%"
                    style="position:absolute" frameBorder="0"></iframe></div>
            <%- include('layouts/scripts'); -%>
                <%- include('layouts/footer'); -%>
    </body>

</html>